.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}

h1.bio {
  color: rgb(132, 149, 144);
  font-size: 18px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 5px solid rgba(17, 78, 62, 0.3);
}